:local(.styles) {
  position: relative;
  margin-bottom: 30px;

  .btn {
    a {
      color: $white !important;
    }

    span {
      font-size: 16px !important;
    }
  }

  .app-bar {
    h1 {
      color: $white;
      font-family: "Open Sans", sans-serif;
      text-shadow: 2px 2px 0 #000;
      font-weight: bold !important;

    }
  }

  #header-btn1,
  #header-btn2 {
    position: absolute;
    top: 14px;
    z-index: 10000;
  }

  #header-btn1 {
    right: 160px;
  }

  #header-btn2 {
    right: 50px;
  }
}
