@import '../../containers/App/styles/variables';

:local(.styles) {
  background: $grey35;
  color: $white;
  padding: 40px;

  a {
    color: $gold;
  }

  p {
    color: inherit;
    display: inline-block;
    position: relative;
    top: -50px;
    left: 50px;
  }

  img {
    width: 100px;
  }
}
